html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff1e8;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#landing {
	height: 100%;
}

#content {
	height: 90%;
	h1 {
		margin: 0 0 0 0;
	}
}

#links {
	height: 10%;
}
